<div id="footer-bg">
    <div class="container">
        <div id="footer" class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <img src="assets/ITHAKA Family Logo.svg"/>
            </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
                <p>
                    <a href="http://about.jstor.org/terms" target="_blank">JSTOR Terms and Conditions</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://about.jstor.org/privacy" target="_blank">Privacy Policy</a>
                </p>
                JSTOR is part of ITHAKA, a not-for-profit organization helping the academic community use digital technologies to preserve the scholarly record and to advance research and teaching in sustainable ways.
                ©2000-2016<script>document.write(new Date().getFullYear())</script> ITHAKA. All Rights Reserved. JSTOR®, the JSTOR logo, JPASS®, and ITHAKA® are registered trademarks of ITHAKA.
            </div>
        <div class="col-sm-12 col-md-2 col-lg-1">
            <a href="http://labs.jstor.org" target="_blank"><img src="assets/Brought to you by JSTOR Labs.svg"/></a>
            </div>
        </div>

    </div>
</div>

<!--todo fix footer responsiveness <div id="footer-bg">
    <div class="container">
        <div id="footer" class="row">
            <div class="col-xs-6 col-md-4 col-lg-3">
                <img src="/monographs/src/client/assets/ITHAKA Family Logo.svg"/>
            </div>

        <div class="col-lg-1 col-lg-push-8">
            <img src="/monographs/src/client/assets/Brought to you by JSTOR Labs.svg"/>
            </div>
        </div>
         <div class="col-lg-7 col-lg-pull-1">JSTOR is part of ITHAKA, a not-for-profit organization helping the academic community use digital technologies to preserve the scholarly record and to advance research and teaching in sustainable ways.
                ©2000-<script>document.write(new Date().getFullYear())</script> ITHAKA. All Rights Reserved. JSTOR®, the JSTOR logo, JPASS®, and ITHAKA® are registered trademarks of ITHAKA.
            </div>
    </div>
</div>-->
