<topicgraphs-header></topicgraphs-header>
<div id="main">
    <div id="head-text">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <p>Make a topic graph of a document you already have
                </p>

            </div>
            <img src="assets/Upload Step 1.png" style="margin-right: 2.5em">
                <img src="assets/Upload Step 2.png" style="margin-right: 2.5em">
                <img src="assets/Upload Step 3.png">
        </div>
    </div>

    <div class="container pdfSubmit">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 *ngIf="status === 'INITIAL'" class="status initial">Upload a PDF that you would like to analyze.</h3>
                <h3 *ngIf="status === 'UPLOADING'" class="status uploading"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>Uploading document...</h3>
                <h3 *ngIf="status === 'SUCCESS'" class="status" style="font-weight: bold">Success! Your document has been uploaded.</h3>
                <h3 *ngIf="status === 'FAILURE'" class="status failure">Upload failed, sorry. Please try again or contact <a href="mailto:labs@ithaka.org">labs@ithaka.org</a>.</h3>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-12 text-center" style="height: 250px"  *ngIf="status === 'INITIAL'"> <!-- id="upload-container"-->
                <div class="textarea-styling">

                </div>
                <div id="drag-instructions">
                    <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" style="color: #546d89;"></i>
                    <i class="fa fa-paperclip fa-stack-1x fa-inverse fa-rotate-90"></i>
                    </span>
                    Drag and drop a PDF here<br>or<br>

                </div>
                <textarea fileDrop [ngClass]="{'nv-file-over': fileIsOverDropZone}"
                    (fileOver)="fileOverBase($event)" (drop)="fileDrop($event)" rows="10" cols="50">
                </textarea><br>
                <label style="z-index:1000; color: #546d89; font-weight: normal; margin-top: .8em; position: relative; bottom: 360px; cursor: pointer; cursor: hand">
                        select files from your computer
                        <input type="file" style="margin: auto; visibility: hidden; height: 0px;"
                            (change)="fileSelected($event)"/>
                    </label>
            </div>

            <div class="col-sm-12 text-center"  style="height: 220px; margin-top: -60px" *ngIf="status === 'SUCCESS'">
               <p style="position: static; font-size: 1.2em">Our analysis engine is now chugging along applying our custom topic model to it.<br>
                We'll email you in 15 - 20 minutes when it's done.</p>
                <p style="position:static; margin-top: 2em">
                    <span style="font-weight: bold">In the meantime, you can:</span><br>
                <a [routerLink]="['/submit']">Make another topic graph</a><br>
                    <a [routerLink]="['/about']">Read about our topic model</a><br>
                    <a [routerLink]="['/']">Browse topic models already made</a>
                </p>

            </div>
        </div>
    <!-- <div class="row">
            <div class="col-sm-12 col-md-3 col-md-offset-3">
                Email address?
            </div>
        </div>-->

       <!-- <div class="row">
            <div class="col-sm-12 col-med-2 col-md-offset-4">
                <input type="checkbox" style="position: relative; top: 10px;"  /> I agree that I own the rights to upload this document
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-med-2 col-md-offset-4">
            <input type="checkbox" style="position: relative; top: 10px; margin-bottom: 5em"  /> I agree to the <a href="#" target="_blank">Terms & Conditions</a>
            </div>
        </div>-->
    </div>
</div>
<topicgraphs-footer></topicgraphs-footer>
<pdf-submit-modal #submitModal (onHide)="doSubmit($event)"></pdf-submit-modal>