i {
  color: #aaa;
  margin: 0;
  padding: 0; }

#top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0 3px 2px -2px gray; }

#top-menu .title {
  cursor: pointer;
  order: 0;
  width: calc(100% - 95px);
  min-width: 1px;
  margin-left: 20px; }

#top-menu .title h2 {
  padding: 12px 10px;
  color: #333;
  margin: 0; }

#top-links {
  float: right;
  display: inline-block;
  margin-top: 1em;
  width: 650px; }

#top-links a {
  margin-left: 1.5em; }

#book-search::-webkit-input-placeholder {
  color: #333; }

#book-search::-moz-placeholder {
  color: #333; }

#book-search:-ms-input-placeholder {
  color: #333; }

#book-search:-moz-placeholder {
  color: #333; }

#mobile-main-menu {
  display: none;
  cursor: pointer; }

#mobile-main-menu {
  padding: 13px 15px; }

#mobile-main-menu img {
  height: 16px; }

#top-menu #top-menu-link {
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  overflow: hidden; }

#top-menu #top-menu-link.active {
  max-height: 500px; }

@media (max-width: 4000px) {
  #top-menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; }
  #top-menu #mobile-main-menu {
    order: 0; }
  #top-menu .logo {
    order: 2; }
  #top-menu .top-menu-container {
    position: fixed;
    background-color: #1d1d2b;
    left: 0;
    right: 0;
    top: 67px;
    margin: 0;
    max-height: 0; }
  #top-menu .top-menu-container ul {
    padding: 10px 0; }
  #top-menu .top-menu-container li {
    float: none; }
  #top-menu .top-menu-container li a {
    display: block;
    padding: 10px 10px; }
  #mobile-main-menu {
    display: inline-block; }
  #main {
    width: 100%;
    float: none; } }

@media (max-width: 600px) {
  #top-menu .title h2 {
    padding: 15px; }
  #top-menu .logo {
    margin: 0 15px 0 0; }
  #mobile-main-menu {
    padding: 13px 15px; }
  #top-menu .top-menu-container {
    top: 105px; } }

pre {
  word-wrap: normal;
  word-break: normal; }

.tooltip.customClass .tooltip-inner {
  color: #800;
  background-color: #ff6;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.tooltip.customClass .tooltip-arrow {
  display: none; }

#make-button {
  padding: 5px 20px; }
