<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">
        <div id="loginForm" class="row column">
            <h4 class="text-center">Log in with your MyJSTOR account</h4>
            <label>MyJSTOR username
                <input [(ngModel)]="loginForm.login" type="text" placeholder="Your MyJSTOR username"/>    
            </label>
            <label>Password
                <input [(ngModel)]="loginForm.password" type="password" placeholder="Your password"/>
            </label>
            <p><a type="submit" class="button expanded" (click)="login($event)">Log In</a></p>
            <p *ngFor="let message of (messages | async)" class="login-error-message">{{message}}</p>
            <p *ngIf="isAuthenticating">
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i><span style="display: inline-block; margin-left:12px;">Logging in to MyJSTOR account...</span>
            </p>
        </div>
    </div>
</div>
