<topicgraphs-header></topicgraphs-header>
<div id="main">
<div class="container" style="margin-top: 2em">
  <p>&nbsp;</p><p>Topic<span style="font-weight: bold">graph</span> is a beta tool built by
    <a href="http://labs.jstor.org" target="_blank">JSTOR Labs</a> as part of its
    <a href="http://labs.jstor.org/monographs" target="_blank">Reimagining the Monograph</a> project.
    It helps researchers explore scholarly books by letting them understand at a glance
    all the topics covered within a book and then navigate directly to those pages about topics they’re researching.
  </p><p>&nbsp;</p>


  <h4>The Content</h4>
  <p>The site includes a small collection of open access scholarly books from a variety of disciplines.
  </p><p>&nbsp;</p>


 <h4>The Topics</h4>
  <p>The topics are found for each book by machine using a
    "<a href="https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation" target="_blank">topic model</a>,"
    a tool used in natural language processing.  In a topic model, a topic is composed of many individual
    terms that suggest the topic is being discussed.  The more those terms are used in proximity to each
    other, the more likely that a particular topic is being discussed.
    </p>


  <p>For example:  if the terms "carrots," “seed," "harvest," and "backyard" are used in close proximity
    to each other, the topic model might suggest that the topic being discussed is "Gardening,"
    even if the term itself is never used.
  </p>

  <p>The topic model we are using on this project was created by analyzing the entire corpus
    of scholarship within JSTOR.  In doing so, we were able to leverage
    <a href="http://labs.jstor.org/blog/#!labs_no-longer-secret_ingredient-the_jstor_thesaurus" target="_blank">JSTOR Thesaurus</a>,
    a controlled vocabulary of over 50,000 terms describing the content within JSTOR, for help
    in both naming the topics and in "training the content model."
    </p>


  <p>In Topic<span style="font-weight: bold">graph</span>, you can hover over the topics to see the terms most frequently related to it.
    You'll also see many of the terms highlighted as you read the text.
    </p>


  <p>The topic model that powers Topic<span style="font-weight: bold">graph</span> is still in development.
    While the terms and topicswill not always be right, we hope it will be right enough to make this a valuable research tool.
    We’d love to <a href="mailto:labs@ithaka.org">hear from you</a> whether we’ve succeeded, and how we could do even better.
  </p><p>&nbsp;</p><p>&nbsp;</p>

</div>
</div>
<topicgraphs-footer></topicgraphs-footer>
